 .box1,
 .box2,
 .box3{
height: 100vh;
     border: 1px solid blue
 }

 .box1{
     background: darkblue;
 }
 .box2{
     background: #8b136c;
 } .box3{
     background: #358b7d;
 }
   .slide{
       background: blueviolet;
   }