.hobbies{
    $c : rgba(black, 0.1);
    height:100vh;
    min-height: 800px;
    background:
            linear-gradient($c, $c),
            linear-gradient(90deg, $c, transparent, $c),
            url(../images/main-banner3.jpg) center bottom / cover no-repeat;
    overflow: hidden;
    position: relative;
    margin:0;
}