.page-hero {
    $c : rgba(black, 0.1);

    height:100vh;
    min-height: 1000px;
    background:
        linear-gradient($c, $c),
        linear-gradient(90deg, $c, transparent, $c),

        url(../images/main-banner3.jpg) center bottom / cover no-repeat;
    overflow: hidden;
    position: relative;
            background-attachment: fixed;
}


@media (max-width: 900px) {
.page-hero{
height: 60px;
}

}

.main-banner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height:100%;
    flex-direction: column;
}


.main-banner-title {}


