.page-hero {
    $c : rgba(black, 0.1);

    height:100vh;

    background:
        linear-gradient($c, $c),
        linear-gradient(90deg, $c, transparent, $c),
        url(../images/main-banner3.jpg) center bottom / cover no-repeat;
    overflow: hidden;
    position: relative;
            background-attachment: fixed;

            display: flex;
           align-items: flex-end;

}

.page-hero-scroll{
position: absolute;
bottom: 10vh;
right: 10%;
height: 60px;
width: 40px;


   &::after, &::before{
        content:"";
        width: 40px;
        height: 40px;
        position:absolute;

        border-right: rgba(white,0.5) 5px solid;
        border-bottom: rgba(white,0.8) 5px solid;
        transform:rotate(45deg);
       box-shadow: 5px 5px 8px 0px rgba(84,84,102,0.65);


    }
    &::before{
    top: 5px;
        animation: scroll2Anim 1.5s 0.2s infinite ease;

    }
    &::after{
      animation: scroll1Anim 1.5s 0.2s infinite ease;
        top: 30px;
    }
}

@keyframes scroll1Anim {
  50% {
    top:60px
    }
    100% {
    top:30px;
    }
}

@keyframes scroll2Anim {
  50% {
    top:30px
    }
    100% {
    top:5px;
    }
}

@media (max-width: 700px) {
.page-hero{
height: 50vh;
  background-attachment: scroll;
}

}

.main-banner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height:100%;
    flex-direction: column;
}


.main-banner-title {}


