.page-hero {
    $c : rgba(black, 0.1);

    height:100vh;
    min-height: 1000px;
    background:
        linear-gradient($c, $c),
        linear-gradient(90deg, $c, transparent, $c),
        url(../images/main-banner3.jpg) center bottom / cover no-repeat;
    overflow: hidden;
    position: relative;
            background-attachment: fixed;

            display: flex;
            justify-content: center;

}

.page-hero-scroll{
top: 80%;
right: 20%;

height: 80px;
width: 50px;
border-radius: 40%;
border: 2px dotted $color-main;
background: rgba(white, 0.3);
position: absolute;

&::after{
left: 50%;
transform: translate(-50%, 50%);
position: absolute;
content: "";
height: 20px;
border-radius: 40%;
border: 2px dotted $color-main;
width: 10px;
background: rgba($color-main, 0.5);
}
}

@media (max-width: 900px) {
.page-hero{
height: 60px;
}

}

.main-banner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height:100%;
    flex-direction: column;
}


.main-banner-title {}


