.projects{
    $c: rgba(white, 0.1);
    height: 60vh;
    min-height: 800px;
    background: linear-gradient($c, $c);
    overflow: hidden;

    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

 }


.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-box{
    display: flex;
    justify-content: center;
}

.project-box-info{
  width: 30%;
    margin-left: 50px;
    span{
        font-size: 20px;
    }
}


 .project-box-frame{
     background: url(../images/frame.png) left top / cover no-repeat;
     width: 285px;
    height: 585px;
     position: relative;
}

.project-box-image{
    width: 260px;
    height: 460px;
    position:absolute;
    top: 63px;
    left: 15px;

    img{
        width: 260px;
        height: 460px;

    }


}

.project-box-image-overlay{
    $c:rgba(black, 0.8);
    top: 63px;
    left: 15px;
    background:
            linear-gradient(90deg, $c, transparent, $c);
    width: 260px;
    height: 460px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        color:rgba(white,0.9);
        background:linear-gradient(transparent, rgba(black, 0.4), transparent);
        padding: 10px;
        border-radius: 15px;
        font-weight: normal;
    }

    &::after, &::before{
        content:"";
        width: 20px;
        height: 20px;
        position:absolute;
        top: 60%;

        border-right: rgba(white,0.5) 4px solid;
        border-top: rgba(white,0.8) 4px solid;
        transform:rotate(45deg);

    }
    &::before{
        left:40%;
        animation: clickAnim1 1.5s 0.2s infinite ease;
    }
    &::after{
        left: 45%;
        animation: clickAnim2 1.5s 0.2s infinite ease;
    }

}

@keyframes clickAnim1 {
  50% {
    left:55%;
    }

    100% {
    left:40%;
    }
}
@keyframes clickAnim2 {
  50% {
    left:60%;
    }
    100% {
    left:45%;
    }
}

.hidden{
    display: none;
}