.skills{
    $c : rgba(black, 0.1);
    height:100vh;
    min-height: 800px;
    background:
            linear-gradient($c, $c),
            linear-gradient(90deg, $c, transparent, $c),
            url(../images/main-banner3.jpg) center bottom / cover no-repeat;overflow: hidden;
    position: relative;
    margin:0;
    align-items: center;

}

.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 70vh;


    li{
        text-decoration: none;
    display: none
    }

    .skill-box{
        color: white;
        display: flex;
        font-size:90px;
        flex-direction: column;
        align-items: center ;
        transition: 0.3s;
        width: 2em;


        &:hover{
            color:$color-main;
            flex-grow:2;
            font-size:100px;

    }
    .skill-text{
        font-size: 30px;
    }

    }
}

@media (min-width: 8000px) {
    .skill-box {
       padding: 80px;
    }
}
