.skills {
    $c: rgba(black, 0.1);
    height: 60vh;
    min-height: 800px;
    background: linear-gradient($c, $c),
    linear-gradient(90deg, $c, transparent, $c),
    url(../images/beach.JPG) center bottom / cover no-repeat;
    overflow: hidden;
background-attachment: fixed;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.skills-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 70vh;

    li {
        text-decoration: none;
        display: none
    }

    .skill-box {
        color: rgba(white, 0.8);
        display: flex;
        font-size: 80px;
        flex-direction: column;
        align-items: center;
        transition: 0.8s;
        width: 2em;
        padding: 40px;
        border-radius: 30%;
        position: sticky;
        &:hover {
            color: $color-main;
            transition: 0.8s;

        }
        .skill-text {
            font-size: 30px;
            text-align: center;
        }

    }
}

.skill-box::after {
    content: "";
    position: absolute;
    bottom:0;
    height:2px;
    background: $color-main;
    left:0;
    right:0;
    transform: scaleX(0);
    transition: 0.5s;
}
.skill-box:hover::after {
    transform: scaleX(1);
}




@media (max-width: 900px) {
    .skills-container {
        flex-direction: row;
        width: 100%;
        .skill-box {
            font-size:55px;
            padding: 15px;
            &:hover{

                .skill-text{
                    display: inline-block;
                    font-size: 25px;
                }
            }
        }


        .skill-text {
           display:none;

        }
    }

}


@media (max-width: 600px){
    .skill-box {
        font-size: 45px;
        padding: 10px;
        &:hover{

            .skill-text{
                display: inline-block;
                font-size: 25px;
            }
        }
    }
}
