.skills{
    $c : rgba(black, 0.1);
    height:100vh;
    min-height: 800px;
    background:
            linear-gradient($c, $c),
            linear-gradient(90deg, $c, transparent, $c),
            url(../images/main-banner3.jpg) center bottom / cover no-repeat;overflow: hidden;
    position: relative;
    margin:0;
    display: flex;
    align-items: center;
    flex-direction: column;



}

.skills-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 70vh;


    li{
        text-decoration: none;
    display: none
    }

    .skill-box{
        color: white;
        display: flex;
        font-size:80px;
        flex-direction: column;
        align-items: center ;
        transition: 0.8s;
        padding:30px;
        border-radius: 30%;



        &:hover{
            color:$color-main;
            background: rgba(white,0.4);
            transition: 0.8s;

    }
    .skill-text{
        font-size: 30px;
    }

    }
}

@media (max-width: 600px) {
    .skills-container {
        width: 100%;

        .skills-box{
            font-size: 30px !important;
        }
    }


}
